.list {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    list-style: none;
}

.item {
    margin: 10px;
    width: calc((100% - 80px) / 4);
}

.image {
    display: block;
    width: 100%;
    height: auto;
}